{% extends 'core/base.html' %}
{% block title %} Home{% endblock title %}
{% block content %}
<ol class="list-group">
    {% for link in object_list %}

        <li class="list-group-item">
            <form method="POST" action="{% url 'core:vote' %}" class="vote_form">
                {% csrf_token %}
                <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
                {% if not user.is_authenticated %}
                <button disabled title="Please login to vote">+</button>
                {% elif link.pk not in voted %}
                <button class="btn btn-light btn-sm">+</button>
                {% else %}
                <button class="btn btn-light btn-sm">-</button>
                {% endif %}
                <a href="{{ link.url }}"><b>{{ link.title }}</b></a>
                <div class="Link-detail">
                    <span>{{ link.votes_total }} points</span> |
                   <span>submited by {{ link.submitter }}</span> |
                   <a class="Link-link" href="{{ link.get_absolute_url }}">comments: {{ link.comments.count }}</a>
                 </div>
            </form>
        </li>
    {% empty %}
		      <p>No link yet</p>
    {% endfor %}
    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
        {% endif %}
    </div>
{% endif %}
</ol>

{% endblock content %}

















